{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock %}

{% block content %}
    <div id="app-visualizer">
        <!-- Navbar -->
        <b-navbar type="dark" variant="secondary">
            <b-navbar-brand tag="h1">Decide</b-navbar-brand>
        </b-navbar>

        <div class="voting container">
            <h1>[[ voting.id ]] - [[ voting.name ]]</h1>

            <h2 v-if="!voting.start_date">Votación no comenzada</h2>
            <h2 v-else-if="!voting.end_date">Votación en curso</h2>
            <div v-else>
                <h2 class="heading">Resultados:</h2>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Opción</th>
                            <th>Puntuación</th>
                            <th>Votos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="opt in voting.postproc" :key="opt.number">
                            <th>[[opt.option]]</th>
                            <td>[[opt.postproc]]</td>
                            <td class="text-muted">[[opt.votes]]</td>
                        </tr>
                    </tbody>
                </table>

                <b>Número de votos: </b><span>{{numvotos}}</span></br>
                <h3>Porcentaje del censados que han votado</h3>

                <div id="container-piechart-censados" class="d-inline-flex border">
                    <canvas id="piechart-censados" class="w-100 h-100"></canvas>          
                </div>
                <h3>Porcentaje de votos por género</h3>   
                <div id="container-piechart-genero" class="d-inline-flex border">
                    <canvas id="piechart-genero" class="w-100 h-100"></canvas>          
                </div>
                <h3>Porcentaje de votos por edad</h3>
                <div id="container-barchart-poredad" class="d-inline-flex">
                    <canvas id="barchart-poredad" class="w-100 h-100"></canvas>
                </div>


                <script>
                    
                    var configCensados = {
                    type: 'pie',
                    data: {
                        datasets: [{
                        data: [30,60],
                        backgroundColor: [
                            '#696969', '#C0C0C0'
                        ],
                        label: 'Population'
                        }],
                        labels: ["% ha votado", "% no ha votado"]
                    },
                    options: {
                        responsive: true
                    }
                    };

                    var configGenero = {
                    type: 'pie',
                    data: {
                        datasets: [{
                        data: [55,45],
                        backgroundColor: [
                            '#ffb3ba', '#bae1ff'
                        ],
                        label: 'Population'
                        }],
                        labels: ["Mujeres", "Hombres"]
                    },
                    options: {
                        responsive: true
                    }
                    };

                    var configPorEdad ={
                     type: 'bar',
                     data: {
                        datasets: [{
                            data: [12,34,26,10,8],
                            backgroundColor: '#baffc9',
                            label: 'Votantes'
                        }],
                        labels: ['18 - 25','25 - 35', '35 - 55', '55-65', '+65']
                     },
                     options: {
                         responsive: true
                     }
                    };

                    window.onload = function() {
                    var ctx_censados = document.getElementById('piechart-censados').getContext('2d');
                    var ctx_genero = document.getElementById('piechart-genero').getContext('2d');
                    var ctx_poredad = document.getElementById('barchart-poredad').getContext('2d');
                    window.myPie = new Chart(ctx_censados, configCensados);
                    window.myPie = new Chart(ctx_genero, configGenero);
                    window.myPie = new Chart(ctx_poredad, configPorEdad);
                    };
        
                 </script>
                    
            </div>
                

        </div>
    </div>
{% endblock %}

{% block extrabody %}
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <script>
        var voting = {{voting|safe}};
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app-visualizer',
            data: {
                voting: voting
            }
        })
    </script>
</body>
{% endblock %}
